<h1>School Class Form</h1>

<%= form_for  @school_class do |f|%>
  <p> Title: <%= f.text_field :title %> </p>

  <p>Room Number: <%= f.number_field :room_number %></p>

  <p><%= f.submit %></p>
<% end %>

